{% extends "tree.html" %}
{% load static %}
{% block node %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
    <h3>upload file</h3>
    <form method="post" enctype="multipart/form-data" action="uploadFile/" id="upload_file">{% csrf_token %}
        <input type="file" name="myfile" />
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
<body>
<!--markdown-->
<div class="editor">
    <form action="" method="post">
    	{% csrf_token %}
        <label for="title">标题:</label>
        <input name="title" type="text" id="title"><br>
        {{ form.as_p }}
        <input type="submit" value="提交">
    </form>
</div>

<!--markdown-->
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<form class="form-horizontal" action="." method="post">{% csrf_token %}
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2 text-right"><span>你的回答：</span></div>
            <div id="editormd" class="col-md-10 text-left">
                <textarea style="display: none;" id="id_body" >{{ node.body }}</textarea>
            </div>
{#                content_of_answer为回答内容，随便改名字#}

    </div>
     <div class="row">
        <button class="btn btn-default" type="submit" class="btn btn-default" style="margin-left:200px">回答</button>
    </div>
</form>

            <!--markdown-->
<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script>
<script type="text/javascript">
    $(function() {
var editor  = editormd("editormd",{
            width : '50%',
            height : 420,
            path : "{% static 'editor/lib/' %}",
            syncScrolling : "single",
            tocm: true,         // Using [TOCM]
                    tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                    imageUpload: true,
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "{% url 'tree:upload_img' %}",
                    onload: function () {
                        console.log('onload', this);
                    },
        });
    });
</script>
</body>
{% endblock %}
