{% extends "tree.html" %}
{% load static %}
{% block node %}
<!--&lt;!&ndash;上传&ndash;&gt;-->
<!--<form enctype="multipart/form-data" action="uploadFile/" method="post">{% csrf_token %}-->
<!--       <input type="file" name="myfile" />-->
<!--       <br/>-->
<!--       <input type="submit" value="upload"/>-->
<!--    </form>-->

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
    <h3>upload file</h3>
    <form method="post" enctype="multipart/form-data" action="uploadFile/" id="upload_file">{% csrf_token %}
        <input type="file" name="myfile" />
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</body>
</html>


<!--markdown-->
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<form class="form-horizontal" action="." method="post">{% csrf_token %}
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2 text-right"><span>你的回答：</span></div>
            <div id="editormd" class="col-md-10 text-left">
                <textarea style="display: none;" id="id_body" >{{ node.body }}</textarea>
            </div>
{#                content_of_answer为回答内容，随便改名字#}

    </div>
     <div class="row">
        <button class="btn btn-default" type="submit" class="btn btn-default" style="margin-left:200px">回答</button>
    </div>


</form>

            <!--markdown-->
<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script>
<script type="text/javascript">
    $(function() {
var editor  = editormd("editormd",{
            width : "100%",
            height : 420,
            path : "{% static 'editor/lib/' %}",
            syncScrolling : "single",
            tocm: true,         // Using [TOCM]
                    tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart: true,             // 开启流程图支持，默认关闭
                    sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                    imageUpload: true,
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "{% url 'tree:upload_img' %}",
                    onload: function () {
                        console.log('onload', this);
                    },
        });
    });
</script>
{% endblock %}

<!--<script>-->
<!--      function upload_file(file) {-->
<!--        $.ajax(-->
<!--            {-->
<!--                url: "{% url 'tree:uploadFile' %}",-->
<!--                type: "POST",-->
<!--                data: { "myFile": file },-->
<!--                success: function (e) {-->
<!--                    if (e === 1) {-->
<!--                        layer.msg("上传成功");-->
<!--                        window.location.reload();-->

<!--                    } else {-->
<!--                        layer.msg("上传失败");-->
<!--                        window.location.reload();-->
<!--                    }-->
<!--                },-->
<!--                error: function (e) {-->
<!--                    layer.msg("无文件");-->

<!--                }-->
<!--            });-->

<!--    }-->

<!--</script>-->